* {
  box-sizing: border-box;
}

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #374151;
}

img {
  width: 1rem;
  height: 1rem;
}

h1 {
  text-align: center;
  color: #0d9488;
  font-size: 4rem;
  font-weight: bolder;
  text-shadow: 0.2rem 0.2rem 0 #0f766e;
}

.emoji-grid {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 70rem;
  margin: 0 auto;
}

.emoji-grid__row {
  display: flex;
}

.emoji-grid__row:nth-of-type(even) {
  background-color: #f3f4f6;
}

.emoji-grid__header {
  flex-grow: 1;
  font-weight: bold;
  color: #6b7280;
  text-align: center;
}

.emoji-grid__name {
  width: 20rem;
  padding: 0.3rem 0.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.emoji-grid__cell {
  flex-grow: 1;
  flex-basis: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  padding: 0.5rem 0;
}
