<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>#wordle-am-i</title>
  <link rel="stylesheet" href="css/index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
  <h1>#wordle-am-i</h1>

  <div class="emoji-grid">
    <div class="emoji-grid__header">Name</div>
    {% for weekNum in weeks %}
      <div class="emoji-grid__header">{{ weekNum }}</div>
    {% endfor %}

    {% for user in slack %}
      <div class="emoji-grid__name">
        {{ user.name }}
      </div>

      {% for week in user.weeks %}
        <div class="emoji-grid__week">
          {% for e in week.emojis %}
            {%- parseEmoji emoji, e -%}
            {%- if loop.index % 5 == 0 %}
              <br>
            {% endif -%}
          {% endfor %}
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</body>
</html>
